<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        
        <div class="alert alert-warning" role="alert">
            <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
        <!-- <p> </p> -->
            <p class="alert-headding"><%= message %></p>
        </div>
        
    </div>


    
  
  