body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {

    color: #222222 !important;
}

/* footer */
.f-info-links a {
    color: #222222 !important;
    text-decoration: none;
    margin: 0.4rem;
}

.f-info-links a:hover {
    text-decoration: underline;

}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.f-info-socials i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebdada;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;

}

.card-text p {
    font-weight: 500 !important;
}

.listing-link {
    text-decoration: none;
    
}

/* card effect */
.card-img-overlay {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; */
    opacity: 0;
    /* transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem !important; */
}

.card:hover .card-img-overlay {
    opacity: 0.2;
    /* transition: .5s ease; */
    background-color: rgb(255, 255, 255);
    /* border-radius: 1rem !important; */
}




/* new page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* show image */
.show-img {
    
    height: 30vh;
    
    
}

.btns{
    display: flex;
    /* justify-content: space-between; */
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}


/* map */
#map { 
     height: 400px;
    width:80vh;
 }

